/Source/CommonUtils/obj
/Source/CommonUtils/bin
/Source/GetWebHref/bin
/Source/GetWebHref/obj
/Source/JC.DataAccess/obj
/Source/JC.DataAccess/bin
/Source/JC.LogicBussiness/bin
/Source/JC.LogicBussiness/obj
/Source/JC.Model/obj
/Source/JC.Model/bin
/Source/JC.Service/obj
/Source/JC.Service/bin
/Source/Utils/obj
/Source/Utils/bin
