<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <!--数据库连接超时设置-->
    <add key="CommandTimeout" value="60"/>
    <!--数据库连接字符串，Data Source需要配置数据库所在目录的完整路径-->
    <add key="SQLiteDBConnection" value="Data Source=D:\Git Repositories\WebUrlCrawler\DB\articles.db;Version=3;Pooling=False;Max Pool Size=100;"/>
    <!--每次请求间隔时间，单位毫秒-->
    <add key="RequestTimeSpan" value="3000"/>
  </appSettings>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ErrorRollingFileAppender"/>
      <appender-ref ref="InfoRollingFileAppender"/>
      <!--<appender-ref ref="DebugRollingFileAppender"/>
      <appender-ref ref="WarnRollingFileAppender"/>-->
    </root>

    <!--
    ·==20141206======日志文件夹
	  ·==日志文件
	  ·Debug_20141206.rar=========接口方法运行时间统计

	  ·Warn_20141206.rar==========接口方法参数内容记录

	  ·Info_20141206.rar==========接口方法内部信息跟踪

	  ·Error_20141206.rar=========接口方法异常以及错误信息内容记录
    -->

    <!--将Error等级的日志输出到文件中-->
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="ERROR">
      <param name="File" value="log/"/>
      <appendToFile value="true"/>
      <rollingStyle value="date"/>
      <param name="DatePattern" value="&quot;log_&quot;yyyyMMdd\\&quot;log_Error.rar&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss fff}% %-5level %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>

    <!--将INFO等级的日志输出到文件中-->
    <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender" LEVEL="INFO">
      <param name="File" value="log/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="50MB"/>
      <param name="DatePattern" value="&quot;log_&quot;yyyyMMdd\\&quot;log_Info.rar&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss fff}% %-5level %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
  </log4net>
</configuration>